h1{
    color: rgb(129, 71, 5);
    text-align: center;
    font-size: 60px;
}

p{ 
    color: rgb(16, 17, 17);
    text-align: center;
    font-size: 40px;
}

#imagem1{
    width: 30%;
    display: block;
    margin: auto;
    border: solid 4px black;
    padding: 30px;